:root {
  color-scheme: light dark;
  --text: CanvasText;
  --background: Canvas;

  --primary: crimson;
  --font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: tomato;
  }
}

*,*:before,*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font, sans-serif);
  max-width: 71ch;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.6;
  font-size: 1.1rem;
  color: var(--text);
  background-color: var(--background);
  accent-color: var(--primary);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, button, input, textarea {
  line-height: 1.6;
  font-size: 1.1rem;
}

h1, h2, h3 {
  margin-bottom: 0.55em;
  line-height: 1.3;
  letter-spacing: 0.05ch;
}

code {
  font-size: 16px;
  line-height: 1.6;
}

h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: var(--primary, blue);
}

img {
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
  background-color: #777;
}

kbd {
  display: inline-block;
  border: 1px solid var(--text);
  padding: 0.1em 0.2em;
  background-color: var(--background);
}

ul, ol {
  padding-left: 1.8rem;
}

pre {
  line-height: 1.6;
  max-width: 100%;
  overflow: auto;
  padding: 0.5rem;
  border: 1px solid var(--text);
}

hr {
  border: none;
  border-bottom: 1px solid var(--text);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid var(--text);
}

td, th {
  padding: 0.5rem;
  text-align: left;
}

blockquote, q {
  display: block;
  border-left: 5px solid var(--text);
  padding: 1rem;
  margin: 1rem;
  margin-left: 0;
}

time {
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: 700;
}

input[type="checkbox"],
input[type="radio"] {
  width: 1.3em;
  height: 1.3em;
}

form > * {
  display: block;
}

form > * + * {
  margin-top: 1rem;
}

button {
  background: var(--primary);
  color: white;
  font-weight: 700;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  padding: 0.5rem;
}

textarea {
  font-family: var(--font, sans-serif);
}