*,*:before,*:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  max-width: 70ch;
  margin: 0 auto;
  padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  line-height: 1.6;
  font-size: 1.1rem;
}

code {
  font-size: 16px;
  line-height: 1.6;
}

h4, h5, h6 {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
}

img {
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
  background-color: #777;
}

kbd {
  border: 1px solid #777;
  padding: 0.1em 0.2em;
  background-color: #ddd;
}

ul {
  padding-left: 1.8rem;
}
